<div class="container mx-auto" style="margin-top: 40px">
<h1>ログイン</h1>
 <%= form_tag("/login") do %>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Emailaddress</label>
            <input name="email" class="form-control" placeholder="sample@sample.com" value="<%= @email %>">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Pssword</label>
            <input name="password" type="password" class="form-control" value="<%= @password %>">
        </div> 
        <div>
            <input class="btn btn-primary" type="submit" value="ログイン" >
        </div>
    </form>
  <% end %>
</div>